services:
  honeypod-proxy:
    build: .
    ports:
      - "8001:8001"
    extra_hosts: # Remove this for prod
          - "host.docker.internal:host-gateway"
    environment:
      - HOST=0.0.0.0
      - PORT=8001
      - BACKEND_URL=${BACKEND_URL:-http://localhost:8000}
      - JWT_SECRET=${JWT_SECRET}
      - ALGORITHM=${ALGORITHM:-HS256}
      - UVICORN_LOG_LEVEL=${UVICORN_LOG_LEVEL:-info}
    env_file:
      - .env

    restart: unless-stopped